venv/
.env

*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

.vscode/
.idea/
*.sublime-workspace

*.log

*.temp
*.tmp

.DS_Store
Thumbs.db

build/
dist/
*.egg-info/
.eggs/

Pipfile
Pipfile.lock
poetry.lock

.coverage
.cache/

config/settings_local.py

.ipynb_checkpoints/